@import "../../App";

header {
  background-color: $color-xdark;
  padding: 20px 0;
  width: 100%;
  position: sticky;
}

.username {
  font-size: 16px;
  display: block;
  padding: 8px 10px;
  margin-left: 300px;
  text-decoration: none;
  color: #eaeef1;
}

nav {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  width: 100%;
  padding-left: 250px;
}

nav button {
  display: block;
  font-size: 1rem;
  padding: 8px 10px;
  text-decoration: none;
  color: #eaeef1;
  border-radius: 2rem;
  border: unset;
  background-color: unset;
  transition: background-color 0.2s;

  &:hover {
    background-color: $color-light;
  }
}

input {
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid transparent;
  border-radius: 1rem;
  outline: none;
  background-color: $color-dark;
  color: #eaeef1;
  transition: border-color 200ms ease-out;

  &::placeholder {
    color: white;
    opacity: 0.5;
  }

  &:hover {
    background-color: $color-base;
  }

  &:focus {
    border-color: $color-light;
    background-color: $color-base;
    color: #eaeef1;
  }
}

.search-form {
  position: relative;

  .search-dropdown {
    position: absolute;
    top: calc(100% + 1rem);
    left: -2rem;
    right: -2rem;
    z-index: 10;
    outline: 2px solid $color-dark;
    padding: 0.5rem;
    background-color: $color-xdark;
    border-radius: 1rem;

    .search-result {
      position: relative;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      padding: 0.5rem;
      border-radius: 0.8rem;

      &:not(:last-child) {
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          width: 12rem;
          height: 0;
          left: 0;
          right: 0;
          margin: 0 auto;
          border-top: 1px solid $color-dark;
        }
      }

      &:hover {
        background-color: $color-dark;
      }

      >div {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
      }

      img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
      }

      h4,
      p {
        padding: 0;
        margin: 0;
      }

      .username {
        opacity: 0.75;
      }

    }

  }
}