.signup {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 1rem;
  background-color: #11161a;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-style: none;
}

.signup h1 {
  margin-bottom: 0;
}

.signup-form input {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #666;
  border-radius: 30px;
  outline: none;
  background-color: #172026;
  color: #eaeef1;
}

.signup-form input:focus {
  border-color: #1da1f2;
  background-color: #172026;
  color: #eaeef1;
}

.signup-form button[type="submit"] {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #eaeef1;
  background-color: #1da1f2;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.signup-form button[type="submit"]:hover {
  background-color: #0c84d2;
}

.signup button {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 14px;
  color: #1da1f2;
  background-color: transparent;
  border: 1px solid #1da1f2;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.signup button:hover {
  color: #fff;
  background-color: #1da1f2;
}
