@import "../../App";

.signup {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;

  @media screen and (min-width: 768px) {
    background-color: $color-xdark;
  }

  .header {
    h1 {
      margin: 0;
    }

    p {
      margin: 0
    }
  }

  button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 14px;
    color: $color-xlight;
    background-color: transparent;
    border: 1px solid $color-xlight;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 200ms ease-out, color 200ms ease-out;

    &:hover {
      color: #fff;
      background-color: $color-xlight;
    }
  }

  .toggleForm {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
  border-style: none;

  input {
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    outline: none;
    background-color: $color-dark;
    color: #eaeef1;
    transition: border-color 200ms ease-out;
    
    &::placeholder {
      color: white;
      opacity: 0.5;
    }
    &:hover {
      background-color: $color-base;
    }

    &:focus {
      border-color: $color-light;
      background-color: $color-base;
      color: #eaeef1;
    }
  }


  button[type="submit"] {
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: #eaeef1;
    background-color: $color-light;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 200ms ease-out, color 200ms ease-out;
    &:hover {
      color: $color-dark;
      background-color: $color-xlight;
    }
  }
}